@font-face {
    font-family: 'source-sans';
    src: url(sourcesanspro-regular-webfont.woff) format("woff");
}

body {
    font-family: "source-sans", serif;
    font-size: 10pt;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    background-color: #CCC;
    color: #222;
}

p {
    cursor: default;
}

#port_num {
    width: 50px;
}

button {
    width: auto;
    left: 5px;
    right: 5px;
    bottom: 5px;
    position: absolute;
    border: none;
    background-color: #7d81ff;
    color: #EEE;
}

button:hover {
    background-color: #a9a7ff
}

input, label {
    display: block;
}

div#portInfo {
    display: block;
    width: 230px;
    height: 50px;
    position: fixed;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 6;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.35s;
}
div#portInfo.popping {
    visibility: visible;
    opacity: 1;
}

div#background_darken {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.35);
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.25s;
}

div#background_darken.popping {
    visibility: visible;
    opacity: 1;
}

#is_connected {
    margin-left: 20px;
    font-family: Consolas;
}